/*
 * Begins with basic layout and responsive design/media queries
 * resize/reposition/show elements accordingly
 * 
 * Some reliance on JavaScript for setting sections as full window width
 *
 * Phil Moore - fil.moore@gmail.com
 *
 */
 
 
 /* RESET
------------------------------------------------------------ */
* { margin: 0; padding: 0; }
html { overflow-y: scroll;}
body { background:#ffffff; font-size: 0.85em; color: #111; font-family: Helvetica, Arial, sans-serif; }
ol, ul { list-style: none; margin: 0;}
ul li { margin: 0; padding: 0;}
h1 { margin-bottom: 10px; color: #111111;}	
a, img { outline: none; border:none; color: #000; font-weight: bold; }
a:link, a:visited, a:hover, a:active { color: #000d86; }
p { margin: 0 0 10px; line-height: 1.4em; font-size: 1.2em;}
img { outline: none; }
aside { font-style: italic; font-size: 0.9em;}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }

/* ------------------------------------------------------------*/

.clearfix::after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

/* STRUCTURE */


/* HEADER */
#globalHeader {
	background: #000;
	color: #fff;
	position: relative;
}
	#globalHeader #logo {
		float: left;
		margin: 0 1em;
	}
	
	#globalHeader h1 {
		clear: right;
		color: #fff;
		font-size: 1.8em;
		font-weight: normal;
		line-height: 0.9em;
		margin: 0 1em;
		padding: 0.5em 0;
		text-align: right;
		text-transform: uppercase;
		transition: opacity 0.1s;
		-moz-transition: opacity 0.1s;
		-ms-transition: opacity 0.1s;
		-o-transition: opacity 0.1s;
		-webkit-transition: opacity 0.1s;
	}
	#globalHeader #social { float: right; margin-top: 0.5em; }
	#globalHeader #social a {
		padding: 0 10px;
		opacity: 0.7;
		transition: opacity 0.2s;
		-moz-transition: opacity 0.2s;
		-ms-transition: opacity 0.2s;
		-o-transition: opacity 0.2s;
		-webkit-transition: opacity 0.2s;
	}
	#globalHeader #social a:hover { opacity: 1; }


/* NAV */
ul#mainNav {
	display: none;
	font-size: 1.1em;
	line-height: 1.6em;
	margin: 2% 0 4%;
	padding: 1em;
	text-align: center;
}
	ul#mainNav li {
		margin: 0 0.3em 0.2em;
		text-transform: uppercase;
	}
	ul#mainNav li a {
		display: block;
		text-decoration: none;
	}
	ul#mainNav li a {
		padding: 0.3em 0.5em 0.2em;
	}
	ul#mainNav li a:link, ul#mainNav li a:visited {
		background: #e1e1e1;
		color: #666;
	}
	ul#mainNav li a:hover, ul#mainNav li a:active {
		background: #d1d1d1;
		color: #444;
	}
	.nextarrow, .prevarrow { display: none; }


.section { margin-bottom: 6em; position: relative; display: block; }
.section .content { position: relative; }


/* SUPPORT TEXT */
.section .supportingtext {
	margin: 0 1em;
}
.section .supportingtext .synopsis {
	border-bottom: 1px dotted #ccc;
	font-size: 1em;
	margin-bottom: 1em;
	padding-bottom: 1em;
}


/* VIDEO SECTION */
.videowrapper { 
	text-align: center;
	margin-bottom: 2em;
}
.video a {
	display: block;
	position: relative;
}
.video h3 {
	background: rgba(0,0,0,0.4);
	color: #fff;
	position: absolute;
	padding: 0.5em 1em;
	bottom: 1em;
	left: 0;
	font-size: 1.4em;
	font-weight: normal;
}
.video img { margin-bottom: 0.5em; width: 100%; }
.videowrapper .videocaption {
	color: #999;
	font-size: 0.9em;
	padding-left: 1em;
}

.section .map img { max-width: 500px; width: 100%; }


/* INTRO specific */
#intro h1 {
	display: none;
	color: #000;
	font-size: 3.5em;
	font-weight: bold;
	letter-spacing: -0.05em;
	line-height: 0.9em;
	text-transform: uppercase;
}
#intro #irin_intro {
	display: none;
	color: #000;
	font-size: 3em;
	font-weight: bold;
	padding: 1% 2%;
}
#intro p {
	color: #000;
	font-family: Georgia, "Times New Roman", serif;
	font-size: 1.5em;
	line-height: 1.4em;
	padding: 2%;
}
#intro p em {
	font-style: italic;
	font-size: 0.9em;
}
.fullbleed img {
	width: 100%;
}



/* ------------------------------------------------------------*/

@media screen and (min-width: 641px) { /* Portrait iPad etc. */

	/* Nav */
	ul#mainNav li { display: inline; }
	ul#mainNav li a { display: inline; }


	/* IRIN logo */
	#intro #logo {
		color: #fff; /*TEMP*/
		position: absolute;
		left: 2%;
		top: 1%;
		z-index: 9;
	}
	
	.section .main {
		margin: 0 auto;
		max-width: 750px;
	}
		
	.section .main { margin-top: 70px; }
	
	.videowrapper { max-width: 700px; margin: 0 auto 2em; }
	.video img { width: auto; }
	.video h3 { left: 25%; }
	
	.section .map { margin: 0 auto; text-align: center; } 
	
	/* INTRO SPECIFIC */
	#intro #main h1, #intro #main p { color: #fff; }


} /* END @media screen and (min-width: 641px) */



/* ------------------------------------------------------------*/

@media screen and (min-width: 961px) { /* Landscape iPad etc. */


	.fullbleed { overflow: hidden; height: 100%; }
	
	
	/* HEADER */
	#globalHeader { position: fixed; z-index: 5; width: 100%; }
	
		#globalHeader #social {
			position: absolute;
			bottom: 6px;
			right: 10px;
			float: none;
		}
	
		#globalHeader h1 {
			clear: none;
			font-size: 1.3em;
			float: left;
			margin: 1.6em 0 0 6%;
			padding: 0;
		}
	
		#globalHeader h1 {
			float: left;
			left: -120px;
			margin: 1.6em 0 0 6%;
			width: 40%;
			max-width: 34.7em;
			text-align: right;
			position: relative;
		}
		body.intro #globalHeader h1 { opacity: 0; }
	
	
	
	/* NAVIGATION */
	#globalNav { z-index: 8; }
		ul#mainNav {
			display: block;
			font-size: 0.9em;
			font-weight: normal;
			position: fixed;
			top: 0;
			right: 0.5em;
			margin: 19px 50px 0 0;
			padding: 0;
			z-index: 6;
		}
		ul#mainNav li a {
			line-height: 19px;
			display: block;
			float: left;
			padding: 0.7em 1.8em 0.3em;
			border-bottom: 4px solid transparent;
			transition: border-color 0.3s;
			-moz-transition: border-color 0.3s;
			-ms-transition: border-color 0.3s;
			-o-transition: border-color 0.3s;
			-webkit-transition: border-color 0.3s;
					
		}
		ul#mainNav li a:link, ul#mainNav li a:visited {
			background: transparent;
			color: #fff;	
		}
		ul#mainNav li a:hover, ul#mainNav li a:active {
			background: #393939;
			border-color: #225d8a;
			color: #fff;
		}
		ul#mainNav li.current a:link, ul#mainNav li.current a:visited, ul#mainNav li.current a:hover {
			border-color: #116eb4;
		}
		.prevarrow, .nextarrow {
			display: block;
			position: absolute;
			top: 300px;
		}
		.prevarrow { left: 1em; }
		.nextarrow { right: 1em; }
		#intro .nextarrow { right: 2em; }
		.content .prevarrow, .content .nextarrow { margin-top: -120px; }
		.prevarrow a, .nextarrow a {
			opacity: 0.5;
			transition: opacity 0.3s;
			-moz-transition: opacity 0.3s;
			-ms-transition: opacity 0.3s;
			-o-transition: opacity 0.3s;
			-webkit-transition: opacity 0.3s;
		}
		.prevarrow a:hover, .nextarrow a:hover { opacity: 1; }
	
	
	
	
	#sections { overflow-y: hidden; }
	.section { float: left; overflow-y: auto; width: 100%; }
	.section .content { margin-top: 70px; }
	
	
	

	/* MAP */
	.section .map {
		float: right;
		margin: 1em;
		max-width: 33%;
	}
	.section .map img { width: 100%; }
	
	
	
	
	
	/* INTRO ONLY */
	#intro #main {
		margin-top: 100px;
		width: 40%; 
	}
	.fullbleed img.sizeByHeight {
		height: 100%;
		width: auto; 
		margin-top: 0;
	}
	.fullbleed img.sizeByWidth {	
		height: auto;
		width: 100%;
		margin-left: 0;
	}	
	#intro { position: relative; z-index: 3; }
		#intro #irin_intro { display: block; position: absolute; top: 2%; z-index: 5; color: #fff; }
		#intro #introtext {
				color: #fff;
				display: block;
				position: absolute;
				bottom: 2%;
				left: 2%;
				max-width: 50em;
				z-index: 10;
		}
			
		#intro h1 { display: block; color: #fff; }
		#intro p { color: #fff; padding: 0; }
	
	
	
	/* FURTHER READING ONLY */
	#reading .supportingtext {
		margin: 0 40% 0 10%;
		max-width: 45em;
	}
	
} /* END @media screen and (min-width: 961px) */



/* ------------------------------------------------------------*/

@media screen and (min-width: 1024px) {

	ul#mainNav { left: 50%; right: auto; }

	#globalHeader h1 {
		float: left;
		left: -120px;
		margin: 1.6em 0 0 6%;
		width: 40%;
		max-width: 34.7em;
		text-align: right;
		position: relative;
	}
	
	.section .content {
		width: 100%;
		float: left;
		margin-top: 120px;
		max-width: 1800px
	}
	

	/* VIDEO ELEMENTS */
	.videowrapper {
		width: 40%;
		max-width: 45em;
		float: left;
		margin-left: 7%;
		text-align: left;
		z-index: 3;
		position: relative;
	}
		.videowrapper .video img { width: 100%; }
		.video h3 { left: 0; }
	
	
	/* SUPPORTING TEXT */
	.section .supportingtext {
		width: 40%;
		margin-left: 50%;
	}	
		.section .supportingtext h2 {
			font-size: 2.1em;
			font-weight: bold;
			margin-bottom: 0.7em;
		}
		.section .supportingtext p {
			font-family: Georgia, "Times New Roman", serif;
			font-size: 1.2em;
			line-height: 1.5em;
		}
	
	/* SUPPORTING MAP */
	.section .map {
		clear: left;
		float: left;
		margin-left: 7%;
		z-index: 2;
		width: 40%;
		max-width: 45em;
	}
	.section .map img { width: 100%; margin: 0 auto; }
	
	/* FURTHER READING ONLY */
	#reading .supportingtext {
		margin: 0 0 0 50%;
		max-width: none;
	}
	

} /* END @media screen and (min-width: 1024px) */